.container{
    position: relative;
    
    width: 100%;
    height: 40vh;
    margin: 12px auto;
}

.carousel{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    gap: 10px;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__product{
    width: 90vw;
    height: 100%;
    max-height: 100%;
    object-fit: cover;

    scroll-snap-align: center;
    scroll-snap-stop: always;
    border-radius: 12px;
}

.rem-def-btn{
    background: none;
    outline: none;
    border: none;

    cursor: pointer;
}

.left-button, .right-button{
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    transition: all ease 0.4s;
}

.left-button{
    left: 0;
}

.right-button{
    right: 0;
}

.left-button:hover, .right-button:hover{
    transform: scale(1.2) translateY(-50%);
}

@media (max-width: 600px){
    .container{
        height: 30vh;
    }

    .left-button, .right-button{
        display: none;
    }
}
