.scrollable-container{
    position: relative;
    
    width: 100%;
    margin: 12px auto;
}

.scrollable{
    position: relative;
    display: grid;

    grid-auto-flow: column;
    grid-auto-columns: max-content;

    gap: 24px;
    
    width: 100%;
    padding: 8px 0 12px 0;

    scroll-snap-type: x proximity;
    scroll-behavior: smooth;

    overflow-x: scroll;
    overflow-y: hidden;
}


.scrollable:before,
.scrollable:after {
  content: '';
  width: 2px;
  scroll-snap-align: start;
}

.scrollable__heading {
    
    margin: 0 0 0 6px;

    font-family: 'Poppins';
    font-size: 18px;
    color: rgb(36, 36, 36);
}

.scrollable__sub-heading {
    
    margin: 0 0 0px 6px;

    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    color: rgb(136, 136, 136);
}

@media (max-width: 600px){
    .scrollable{
        gap: 12px;
    }
    .scrollable__heading{
        font-size: 16px;
    }
    .scrollable__sub-heading{
        font-size: 13px;
    }
}